{% extends 'base-login.html' %}

{% block logincontent %}
  <h1><span class="badge bg-warning">For INET Login Only</span></h1>
  <form method="POST">
    {{ form.csrf_token }}
    <div class="form-group">
      {{ form.uuid.label }}
      <br>
      {{ form.uuid(placeholder="00000000-0000-0000-0000-000000000000", size="39") }}
      {% if form.uuid.errors %} 
        {% for error in form.uuid.errors %}
        <span class="badge bg-danger">{{ error}}</span></h1>
        {% endfor %}
      {% endif %}
    </div>
    <div class="form-group pt-2">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}