{% extends 'base-content.html' %}

{% block cardbody %}
<h4 class="card-title">
  <span>SMTI eMedic Card SMTI Admin View</span>
  <a type="submit" class="btn btn-primary float-end" href="{{ url_for('inet') }}">Logout</a>
</h4>
{% endblock %}

{% block inetcontent %}
<div class="row my-2 mx-auto" style="max-width: fit-content;">
  <div class="card border-dark">
    <ul class="nav nav-tabs nav-justified m-2" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if session['tab'] == 'smti' %} active {% endif %}" id="smti-tab" data-bs-toggle="tab" data-bs-target="#smti" type="button" role="tab" aria-controls="smti" aria-selected="true">Medic Data</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link {% if session['tab'] == 'profile' %} active {% endif %}" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">User Profiles</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade {% if session['tab'] == 'smti' %} show active {% endif %}" id="smti" role="tabpanel" aria-labelledby="smti-tab">
        <div class="card-body">
          <h4 class="card-title">
            <span>Medic Details</span>
          </h4> 
          <p>Upload Excel file or enter it into field to search or modify</p>

            <form method="POST" enctype="multipart/form-data" class="mb-2">
              {{ formxls.csrf_token }}
              <div class="form-group">
                {{ formxls.file_smti(button_map={'submitxls_smti':'primary'}) }} {{ formxls.submitxls_smti(class="btn btn-primary btn-sm") }}
                {% if formxls.file_smti.errors %} 
                  {% for error in formxls.file_smti.errors %}
                  <span class="badge bg-danger">{{ error }}</span></h1>
                  {% endfor %}
                {% endif %}
              </div>
            </form>

            <form method="POST">
              {{ formsearch.csrf_token }}
              <div class="form-group">
                {{ formsearch.entry_smti(rows="10", cols="100") }} 
                <br>
                <div class="btn-group" role="group">
                  {{ formsearch.submit_smti(class="btn btn-success") }}
                  {% if session["result"] %}
                    {{ formsearch.download_smti(class="btn btn-primary") }}
                  {% else %}
                    {{ formsearch.download_smti(class="btn btn-primary disabled") }}
                  {% endif %}
                </div>
                {% if formsearch.entry_smti.errors %} 
                  {% for error in formsearch.entry_smti.errors %}
                  <span class="badge bg-danger">{{ error }}</span></h1>
                  {% endfor %}
                {% endif %}
                {% if formsearch.submit_smti.errors %} 
                  {% for error in formsearch.submit_smti.errors %}
                  <span class="badge bg-danger">{{ error }}</span></h1>
                  {% endfor %}
                {% endif %}
              </div>
            </form>

          {% if session["result"] %}
            <table 
              data-toggle="table" 
              data-search="true" 
              data-show-columns="true"
              data-pagination="true">
              <thead>
                <tr>
                  <th data-sortable="true">Masked NRIC</th>
                  <th data-sortable="true">Full Name</th>
                  <th data-sortable="true" rowspan="2">Peacetime Validity</th>
                  <th data-sortable="true" rowspan="2">Peacetime Expiry Date</th>
                  <th data-sortable="true" rowspan="2">Peacetime Balance Duration (days)</th>
                  <th data-sortable="true">Vocation Course Name</th>
                  <th data-sortable="true">Vocation Course Completed Date</th>
                  <th data-sortable="true">AMPT Completed Date</th>
                  <th data-sortable="true">AED Course Name</th>
                  <th data-sortable="true">AED Course Completion Date</th>
                  <th data-sortable="true">AED Certificate Number</th>
                </tr>
                <tr>
                  <th data-sortable="true"><code>masked_ic</code></th>
                  <th data-sortable="true"><code>full_name </code></th>
                  <th data-sortable="true"><code>course_name</code></th>
                  <th data-sortable="true"><code>course_date</code></th>
                  <th data-sortable="true"><code>ampt_date</code></th>
                  <th data-sortable="true"><code>aed_name</code></th>
                  <th data-sortable="true"><code>aed_date</code></th>
                  <th data-sortable="true"><code>aed_cert</code></th>
                </tr>
              </thead>
              <tbody>            
                {% for row in session["result"] %}
                <tr>
                  <td>{{row.masked_ic}}</td>
                  <td>{{row.full_name}}</td>
                  {% if row.validity == "Valid" %}
                    <td class="text-success">Valid</td>
                  {% else %}
                    <td class="text-danger">Invalid</td>
                  {% endif %}
                  <td>{{row.expiry_date}}</td>
                  <td>{{row.duration}}</td>
                  <td>{{row.course_name}}</td>
                  <td>{{row.course_date}}</td>
                  <td>{{row.ampt_date}}</td>
                  <td>{{row.aed_name}}</td>
                  <td>{{row.aed_date}}</td>
                  <td>{{row.aed_cert}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>

      <div class="tab-pane fade {% if session['tab'] == 'profile' %} show active {% endif %}" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <div class="card-body">
          <h4 class="card-title">
            <span>User Profile Details</span>
          </h4> 
          <p>Upload Excel file or enter it into field to search or modify</p>

            <form method="POST" enctype="multipart/form-data" class="mb-2">
              {{ formxlsp.csrf_token }}
              <div class="form-group">
                {{ formxlsp.file_profile(button_map={'submitxls':'primary'}) }} {{ formxlsp.submitxls_profile(class="btn btn-primary btn-sm") }}
                {% if formxlsp.file_profile.errors %} 
                  {% for error in formxlsp.file_profile.errors %}
                  <span class="badge bg-danger">{{ error }}</span></h1>
                  {% endfor %}
                {% endif %}
              </div>
            </form>

            <form method="POST">
              {{ formsearchp.csrf_token }}
              <div class="form-group">
                {{ formsearchp.entry_profile(rows="10", cols="100") }} 
                <br>
                <div class="btn-group" role="group">
                  {{ formsearchp.submit_profile(class="btn btn-success") }}
                  {% if session["result_p"] %}
                    {{ formsearchp.download_profile(class="btn btn-primary") }}
                  {% else %}
                    {{ formsearchp.download_profile(class="btn btn-primary disabled") }}
                  {% endif %}
                </div>
                {{ formsearchp.modify_profile(
                  class="btn btn-warning float-end", 
                  id='profile-modify'
                  ) 
                }}
                {% if formsearchp.entry_profile.errors %} 
                  {% for error in formsearchp.entry_profile.errors %}
                  <br><span class="badge bg-danger">{{ error }}</span></h1>
                  {% endfor %}
                {% endif %}
                {% if formsearchp.submit_profile.errors %} 
                  {% for error in formsearchp.submit_profile.errors %}
                  <br><span class="badge bg-danger">{{ error }}</span></h1>
                  {% endfor %}
                {% endif %}
                {% if formsearchp.modify_profile.errors %} 
                  {% for error in formsearchp.modify_profile.errors %}
                  <br><span class="badge bg-danger">{{ error }}</span></h1>
                  {% endfor %}
                {% endif %}
              </div>
            </form>

          {% if session["result_p"] %}
            <table 
              data-toggle="table" 
              data-search="true" 
              data-show-columns="true"
              data-pagination="true">
              <thead>
                <tr>
                  <th data-sortable="true">Masked NRIC</th>
                  <th data-sortable="true">Full Name</th>
                  <th data-sortable="true">Access Rights</th>
                </tr>
                <tr>
                  <th data-sortable="true"><code>masked_ic</code></th>
                  <th data-sortable="true"><code>full_name </code></th>
                  <th data-sortable="true"><code>rights</code></th>
                </tr>
              </thead>
              <tbody>            
                {% for row in session["result_p"] %}
                <tr>
                  <td>{{row.masked_ic}}</td>
                  <td>{{row.full_name}}</td>
                  <td>{{row.rights}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block modal%}
{% if session["profile_modify_check"] %}
<!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">Modify User Profiles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Review changes carefully before confirming. Save a version of the finalised changes for future reference.
        <br>
          <table 
            data-toggle="table" 
            data-search="true" 
            data-show-columns="true"
            data-pagination="true">
            <thead>
              <tr>
                {% for column in session["profile_modify_header"] %}
                <th data-sortable="true">{{column}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for row in session["profile_modify_check"] %}
              <tr>
                {% for column in row%}
                <td>{{row[column]}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        <button type="button" class="btn btn-primary">Download Modification</button>
        <br> 
        Table of changed values after changes are commited (run search of UUID)
        <br> 
        <button type="button" class="btn btn-primary">Download Final Values</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning">Confirm Modification</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}

{% if session["profile_modify_check"] %}
<script>
var profileModal = new bootstrap.Modal(document.getElementById('profileModal'), {
  backdrop: 'static',
  keyboard: false
})

profileModal.show()
</script>
{% endif %}

{% endblock %}
