{% extends 'base-content.html' %}

{% block cardbody %}
<h4 class="card-title">
  <span>TI Name</span>
  <a type="submit" class="btn btn-primary float-end" href="{{ url_for('inet') }}">Logout</a>
</h4>
{% endblock %}

{% block inetcontent %}
<div class="row my-2 justify-content-center px-3">
  <div class="card border-dark">
    <ul class="nav nav-tabs m-2" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="medic-tab" data-bs-toggle="tab" data-bs-target="#medic" type="button" role="tab" aria-controls="medic" aria-selected="true">Medic Data</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="user-tab" data-bs-toggle="tab" data-bs-target="#user" type="button" role="tab" aria-controls="user" aria-selected="false">User Profiles</button>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="medic" role="tabpanel" aria-labelledby="medic-tab">
        <div class="card-body">
          <h4 class="card-title">
            <span>Medic Details</span>
          </h4> 
          <p>Upload CSV or enter it into field to search or modify</p>
          <form>
            <div class="form-group mb-3">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group mb-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Masked NRIC, First Word Of Name</textarea>
            </div>
          </form>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="submit" class="btn btn-success" onclick="alert('File downloading')">
              Search
            </button>
            <button type="submit" class="btn btn-warning" onclick="alert('File downloading')">
              Modify
            </button>
            <button type="submit" class="btn btn-primary" onclick="alert('File downloading')">
              Download Result
            </button>            
          </div>          
          <table data-toggle="table" data-search="true" data-show-columns="true">
            <thead>
              <tr>
                <th data-sortable="true">Masked NRIC</th>
                <th data-sortable="true">Full Name</th>
                <th data-sortable="true">Eligibility Course</th>
                <th data-sortable="true">Eligibility Course Completion Date</th>
                <th data-sortable="true">AMPT</th>
                <th data-sortable="true">AMPT Completion Date</th>
                <th data-sortable="true">AED+ Course</th>
                <th data-sortable="true">AED+ Course Completion Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>054F</td>
                <td>LIM SHONG BOON</td>
                <td>Emergency Medical Tecnician</td>
                <td>5 January 2021</td>
                <td>NA</td>
                <td>NA</td>
                <td>AED</td>
                <td>10 February 2023</td>
              </tr>
              <tr>
                <td>346F</td>
                <td>SAM YEE</td>
                <td>Medic Medical Vocational Training</td>
                <td>5 January 2021</td>
                <td>NA</td>
                <td>NA</td>
                <td>AED</td>
                <td>10 February 2021</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
        <div class="card-body">
          <h4 class="card-title">
            <span>Unit Details</span>
          </h4>
          <p>Upload CSV or enter it into field to search or modify</p>
          <form>
            <div class="form-group mb-3">
              <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
            <div class="form-group mb-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Masked NRIC, First Word Of Name</textarea>
            </div>
          </form>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <button type="submit" class="btn btn-success" onclick="alert('File downloading')">
              Search
            </button>
            <button type="submit" class="btn btn-warning" onclick="alert('File downloading')">
              Modify
            </button>
            <button type="submit" class="btn btn-primary" onclick="alert('File downloading')">
              Download Result
            </button>            
          </div>             
          <table data-toggle="table" data-search="true" data-show-columns="true">
            <thead>
              <tr>
                <th data-sortable="true">Masked NRIC</th>
                <th data-sortable="true">Name</th>
                <th data-sortable="true">Unit Admin</th>
                <th data-sortable="true">TI Admin</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>054F</td>
                <td>LIM SHONG BOON</td>
                <td>True</td>
                <td>False</td>
              </tr>
              <tr>
                <td>346F</td>
                <td>SAM YEE</td>
                <td>False</td>
                <td>True</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}