{% extends 'base-content.html' %}

{% block cardbody %}
<h4 class="card-title">
  <span>Unit Name</span>
  <a type="submit" class="btn btn-primary float-end" href="{{ url_for('inet') }}">Logout</a>
</h4>
{% endblock %}

{% block inetcontent %}
<div class="row my-2 mx-auto" style="max-width: fit-content;">
  <div class="card border-dark">
    <div class="card-body">
      <h4 class="card-title">
        <span>Medic Details</span>
      </h4> 
      <p>Upload Excel file or enter it into field to search or modify</p>

        <form method="POST" enctype="multipart/form-data" class="mb-2">
          {{ formxls.csrf_token }}
          <div class="form-group">
            {{ formxls.file(button_map={'submitxls':'primary'}) }} {{ formxls.submitxls(class="btn btn-primary btn-sm") }}
            {% if formxls.file.errors %} 
              {% for error in formxls.file.errors %}
              <span class="badge bg-danger">{{ error }}</span></h1>
              {% endfor %}
            {% endif %}
          </div>
        </form>

        <form method="POST">
          {{ formsearch.csrf_token }}
          <div class="form-group">
            {{ formsearch.entry(rows="10", cols="100") }} 
            <br>
            <div class="btn-group" role="group">
              {{ formsearch.submitunit(class="btn btn-success") }}
              {% if session["result"] %}
                {{ formsearch.downloadunit(class="btn btn-primary") }}
              {% else %}
                {{ formsearch.downloadunit(class="btn btn-primary disabled") }}
              {% endif %}
            </div>
            {% if formsearch.entry.errors %} 
              {% for error in formsearch.entry.errors %}
              <span class="badge bg-danger">{{ error }}</span></h1>
              {% endfor %}
            {% endif %}
            {% if formsearch.submitunit.errors %} 
              {% for error in formsearch.submitunit.errors %}
              <span class="badge bg-danger">{{ error }}</span></h1>
              {% endfor %}
            {% endif %}
          </div>
        </form>

      {% if session["result"] %}
        <table 
          data-toggle="table" 
          data-search="true" 
          data-show-columns="true"
          data-pagination="true">
          <thead>
            <tr>
              <th data-sortable="true">Masked NRIC</th>
              <th data-sortable="true">Name (First Word)</th>
              <th data-sortable="true">Peacetime Validity</th>
              <th data-sortable="true">Expiry Date</th>
              <th data-sortable="true">Duration (days)</th>
            </tr>
          </thead>
          <tbody>            
            {% for row in session["result"] %}
            <tr>
              <td>{{row.masked_ic}}</td>
              <td>{{row.first_name}}</td>
              {% if row.validity == "Valid" %}
                <td class="text-success">Valid</td>
              {% else %}
                <td class="text-danger">Invalid</td>
              {% endif %}
              <td>{{row.expiry_date}}</td>
              <td>{{row.duration}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}