{% extends 'base-content.html' %}

{% block cardbody %}
<h4 class="card-title">
  <span>Unit Name</span>
  <a type="submit" class="btn btn-primary float-end" href="{{ url_for('inet') }}">Logout</a>
</h4>
{% endblock %}

{% block inetcontent %}
<div class="row my-2 justify-content-center px-3">
  <div class="card border-dark">
    <div class="card-body">
      <h4 class="card-title">
        <span>Medic Details</span>
      </h4> 
      <p>Upload CSV or enter it into field to search or modify</p>

        <form method="POST" enctype="multipart/form-data">
          {{ csvform.csrf_token }}
          <div class="form-group">
            {{ csvform.file }} {{ csvform.submit(class="btn btn-primary") }}
            {% if csvform.file.errors %} 
              {% for error in csvform.file.errors %}
              <span class="badge bg-danger">{{ error }}</span></h1>
              {% endfor %}
            {% endif %}
          </div>
        </form>

        <form method="POST" enctype="multipart/form-data">
          {{ unitform.csrf_token }}
          <div class="form-group">
            {{ unitform.entry(rows="3", cols="100") }} 
            <br>
            {{ unitform.submit(class="btn btn-success") }}
            {% if unitform.entry.errors %} 
              {% for error in unitform.entry.errors %}
              <span class="badge bg-danger">{{ error }}</span></h1>
              {% endfor %}
            {% endif %}
          </div>
        </form>




      <table data-toggle="table" data-search="true" data-show-columns="true">
        <thead>
          <tr>
            <th data-sortable="true">Masked NRIC</th>
            <th data-sortable="true">Name (First Word)</th>
            <th data-sortable="true">Peacetme Medical Cover Exipry</th>
            <th data-sortable="true">Months to Expiry</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>054F</td>
            <td>LIM</td>
            <td>5 January 2022</td>
            <td>6</td>
          </tr>
          <tr>
            <td>346F</td>
            <td>SAM</td>
            <td>5 January 2022</td>
            <td>6</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}